{% extends "blog/base.html" %}


{% block content %}
<article class="media content-section">
    
    <div class="media-body">
    <div class="article-metadata">
        <p>Hello, my name is Joe Lopez. I am a rising senior at UIUC (Kappa Chapter)</p>
        <p>After losing my internship due to the COVID-19 crisis, I began looking for new
            opportunities that would allow me to apply my skills and learn new things, even
            if they are out of my comfort zone. 
        </p>
        <p>
            I have been involved with Theta Tau since freshman year, and it has given some of the 
            greatest friends and experiences I could have asked for. This past year, I had the pleasure 
            of leading our chapter's Projects Committee. This experience taught me many great lessons, including
            how to manage a team and work towards team members' strengths.
        </p>
        <p>
            I believe that an internship with Theta Tau
            would allow me to gain new skills in web development, while strengthening my existing
            programming skills. Though much of my experience is in lower level applications, I have had 
            a ton of fun learning about web development and data visualization techniques. If given the opportunity,
            I know we will both benefit greatly.
        </p>
        <p>
            Thank you for your consideration.
        </p>
    </div>
    <a href="https://www.linkedin.com/in/joelopezprofile/">LinkedIn Profile</a>
    
    </div>
</article>
{% endblock content %}